<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Birds of Wikipedia</title>
        <link rel="stylesheet" href="assets/style.css">
        <style type="text/css">
        {% for lg in config.languages %}
        html[lang="{{lg.code}}"] .language-selector li[lang="{{lg.code}}"] {
            font-weight: 800;
        }
        html[lang="{{lg.code}}"] .language-alias[lang="{{lg.code}}"] {
            display: block;
        }
        {% endfor %}
        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul class="language-selector">
                    {% for lg in config.languages %}
                    <li lang="{{lg.code}}">
                        <a href="#" title="{{lg.label}}">
                            <span class="language-emoji">{{lg.emoji}}</span>
                            <span class="language-label">{{lg.label}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <h1>
                <ul class="title-aliases">
                {% for lg in config.languages %}
                    <li class="language-alias" lang="{{lg.code}}">{{lg.page_title}}</li>
                {% endfor %}
                </ul>
            </h1>
        </header>
        <section>
            <ul class="birds">
                {% for bird in birds %}
                <li class="bird" id="{{bird.latin_name|replace(" ","_")}}">
                    <h2 class="common-name">
                        <ul class="common-name-aliases">
                        {% for lg, label in bird.common_names.items() %}

                            <li class="language-alias" lang="{{lg}}">
                                <span>{{label}}</span>
                                <a href="http://{{lg}}.wikipedia.org/wiki/{{bird.latin_name|replace(" ","_")}}" target="_blank" title="Wikipedia page for {{label}}">&#x1F4D6;</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </h2>
                    <h3 class="latin-name">{{bird.latin_name}} ({{bird.family}})</h3>
                    <a class="image-container" href="#{{bird.latin_name|replace(" ","_")}}">
                        <img src="media/{{bird.picture_file}}" alt="A photo of a {{bird.common_names.en}}">
                    </a>
                    <audio src="media/{{bird.sound_file}}" controls loop>
                </li>
                {% endfor %}
            </ul>
        </section>
        <script src="assets/script.js"> </script>
    </body>
</html>